* {
    margin: 0 auto;
    box-sizing: border-box;
    /* font: normal 16px "Play", sans-serif; */
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
html, body {
width: 100%;
height: 100%;
}
:root {
    --color1: #393D3F; /*  */
    --color2: #FDFDFF; /*  */
    --color3: #f5f5f5; /*  */
    --color4: #62929E;
    --color5: #546A7B;
    --color6: #d3d4d8;
    --color7: #b7b8bd;
  }
#app {
    display: flex;
    flex-direction: row;
}
.sidebar {
    background: var(--color5);
    padding: 20px 15px;
    color: var(--color2);
    min-width: 160px;
}
.profile_info {padding: 5px 0px 10px 0px; border-bottom: 2px solid var(--color1);}
.menu_wrapper {padding: 5px 0px 10px 0px;border-bottom: 2px solid var(--color1);}
.munu_caption {margin: 10px 0px 5px 0px;}
.menu_btn {}

.menuBtn {
    text-decoration: none;
    color: var(--color2);
}
.menuBtn:hover {color: var(--color4);}


.workspace{
  /* padding: 20px 30px; */
  flex-grow: 1;
  position: relative;
}

/*------------------------------*/
/*--------Index-Page------------*/
/*------------------------------*/

.index_page {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background: var(--color5);
}

.login-container {
    display: flex;
    width: 550px;
    /* border: 1px solid var(--color2); */
    /* background: #ebebeb; */
    padding: 12px;
  }
.gerb_wrapper img {width: 180px;}
.fields_wrapper {flex-grow: 1;}

  /* Every row inside .login-container is defined with p tags */
  .login-container p {
    padding: 12px;
  }
  
  .login-container input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 10px 15px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  
  /* Text fields' focus effect */
  .login-container input[type="text"]:focus,
  .login-container input[type="password"]:focus {
    border-color: #888;
  }
  
  .login-container input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .login-container input[type="submit"]:hover {
    background: #17c;
  }
  
  /* Buttons' focus effect */
  .login-container input[type="submit"]:focus {
    border-color: #05a;
  }

/*------------------------------*/
/*--------VKSList---------------*/
/*------------------------------*/

.VKSList_menu_wrapper {
    /* background: var(--color6); */
    border-bottom: 2px solid var(--color6);
    padding: 20px 30px;
}
.VKSList_content_wrapper {
    padding: 20px 30px;
}



/*------------------------------*/
/*--------Settings--------------*/
/*------------------------------*/

.settins_wrapper {
    padding: 20px 30px;
    flex-grow: 1;
}

/*------------------------------*/
/*--------Users-----------------*/
/*------------------------------*/
.users_header {
  padding: 20px 20px;
  background: var(--color5);
  color: var(--color3);
}
.users_buttons {
  padding: 20px 20px;
  background: var(--color3);
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  /* background: white; */
  /* max-width: 70%; */
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {
  background: #e8edff;
  color: #6699ff;
}

.modal_wrapper {
  position: absolute;
  display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(38, 42, 44, 0.5);
}
.modal_CreateUser_wrapper {
	padding: 10px;
  border: 5px solid var(--color1);
	background: var(--color3);
	/* max-width: 500px; */
}
.modal_CreateUser_header {
  padding: 5px 15px;
  font-size: 20px;
}
.modal_CreateUser_content {
  padding: 5px 15px;
}
.modal_CreateUser_footer {
  padding: 5px 15px;
}
/*------------------------------*/
/*--------Buttons---------------*/
/*------------------------------*/

.btn {
  padding: 5px 10px;
}
.create {}